
body{
	background-color: #286090;
	color: floralwhite;
}
.page {
	display: none;
}
/*----------top left logo*/
#logo {
	width: 3em;
	height: auto;
	margin-top: 5px;
	margin-right: 5px;
}
.jumbotron {
	width: 50em;
	height: 411px;
	margin: 0 auto;
	background-color: black;
	border: 1px solid dodgerblue;
}
.carousel-inner > .item > img {
	width: 100%;
	height: 307px;
	
}
#myCarousel{
	width: 63%;
	float:left;
}
.carousel-caption h2,h3{
	color: red;
}
.col-md-4 {
	height: 500px;
}
#signin img {
	width: 15em;
	height: auto;
	margin: 2em;
}
 .col-md-12 h3{
	color: white;
	text-decoration: underline;
}
 h4{
	color: black;
}
.col-md-12{
	color:white;
	text-align: justify;
}
i{
	font-size: 1.3em;
}
 a{
	color:#940000;
}
 .col-md-12 li{
 	padding: 1%;
	margin-left: 1em;
	display: inline-block;
	list-style: none;
}
 p{
	font-size: 1.3em;
}
#marquee h3{
	color:#2CA02C;
}
#monkey3{
	width: 3em;
	height: 3em;
}
.logos-row{
	border-radius: 25%;
	border: 1px solid black;
	width: 5.5em;
	height: 5.5em;
}
.lower-frame{
	border:1px solid black;
	border-radius: 1em;
	background-color:#003C52;
}
table {
	background-color: white;
	text-align: center;
	border-radius: .5em;
}
#log {
	background-color: white;
	border: 1px solid dodgerblue;
	border-radius: 1em;
	text-align: center;
}
#log li {
	padding: 1em;
	border-bottom: 1px solid lightgray;
}
#log li:last-child {
	border-bottom: none;
}
svg {
	background-color: floralwhite;
	border: 1px solid dodgerblue;
	margin: 0 auto;
}
.axis path, .axis line {
	fill: none;
	stroke: limegreen;
	shape-rendering: crispEdges;
}
.axis text {
	fill: limegreen;
	font-family: sans-serif;
	font-size: 8px;
}
circle:hover {
	fill: red;
}
/* user column styles
-------------------------------------*/
#userColumn {
	background-color: #003C52;
	height: 411px;
}
#userColumn img {
	width: 50%;
	height: 8.5em;
	margin-top: 5px;
}
.btn-block {
	width: 90%;
	margin: 0 auto;
}
/* OPTIONS PAGE
--------------------------------------*/
#options img {
	width: 50%;
}
#options button {
	margin: 10px auto;
}
/* RECOVERY PAGE
--------------------------------------*/
#recoveryPage img {
	width: 50%;
}
#add-workout {
	width: 50%;
	color: black;
}


