.fm-banner {
	padding-bottom:5em;
	padding-top:5em;
	font-face-name:"Proxima Nova";
	/*background-image: url("../assets/star.jpg");
	background-repeat: no-repeat;*/
	color: floralwhite;
  	background: linear-gradient(#111630, #2C2C59, #393F5F);	
  /*background colors #010228, #212143, #55579B*/ /*#111630, #171240, #60647A*/ /*#111630, #0A0A48, #60647A*/
}

.margin-top-20 {
	margin-top:20px;
}

.margin-top-45 {
	margin-top:4.5em;
}

.text-right {
	font-size: 1.5em;
}

.title-text {
	font-size:2em;
}

.page {
	display: none;
}

a {
	color: white;
	font-size: 0.9em;
	
	padding-right: 13em;
	margin-top: 2em;	
}

.description-text p {
	margin-top: 4.5em;
  font-size: 1.5em;

}

/* user column styles
-------------------------------------*/
/*joint the revolution section*/
.form-signin-heading {
	margin-top: 2em;

}

#username {
	width: 23em;
	margin-top: 1em;
	border: none;
	border-bottom: 1px solid white;	 
	background-color: rgba(0, 29, 255, 0);
	border-radius: 0;
	box-shadow: none;
}

input::-placeholder {
	color: white;
}

#password {
	width:  23em;
	margin-top: 2em;
	border: none;
	border-bottom: 1px solid grey;
	background-color: rgba(0, 29, 255, 0);
	border-radius: 0;
	box-shadow: none;

}

#loginBtn {
	margin-left: 0;
	width:  23em;
	margin-top: 2.5em;
	margin-bottom: 1.5em;
	border-color: #00ebd2;
	color: #00ebd2;
	background-color: rgba(0, 29, 255, 0);
	border-radius: 0;

}

#signupBtn {
	margin-left: 0;
	width:  23em;
	border-color: #00ebd2;
	color: #00ebd2;
	background-color: rgba(0, 29, 255, 0);
	border-radius: 0;
}

/*******************************/
.chartrows {
	border-bottom: 1px solid lightgray;/*#00ebd2*/
}

.charts {
	margin-bottom: 20px;
}

/*//////////////////////////////////////////////////////////////////////*/
	
/*inside the app guts*/
table {
	background-color: white;
	text-align: center;
	border-radius: .5em;
}

#log {
	background-color: white;
	border: 1px solid dodgerblue;
	border-radius: 1em;
	text-align: center;
}

#log li {
	padding: 1em;
	border-bottom: 1px solid lightgray;
}

#log li:last-child {
	border-bottom: none;
}

svg {
	background-color: floralwhite;
	border: 1px solid dodgerblue;
	margin: 0 auto;
}

.axis path, .axis line {
	fill: none;
	stroke: limegreen;
	shape-rendering: crispEdges;
}

.axis text {
	fill: limegreen;
	font-family: sans-serif;
	font-size: 8px;
}

circle:hover {
	fill: red;
}

/* OPTIONS PAGE
--------------------------------------*/
#options img {
	width: 50%;
}

#options button {
	margin: 10px auto;
}

/* RECOVERY PAGE
--------------------------------------*/
#recoveryPage img {
	width: 50%;
}

#add-workout {
	width: 50%;
	color: black;
}

