body{
	background-color: #286090;
	color: floralwhite;
}
.page {
	display: none;
}
#logo {
	width: 3em;
	height: auto;
	margin-top: 5px;
	margin-right: 5px;
}
.jumbotron {
	width: 35em;
	height: 392px;
	margin: 0 auto;
	background-color: black;
	border: 1px solid dodgerblue;
}
.carousel-inner > .item > img {
	width: 100%;
	height: 300px;
}

#myCarousel{
	width: 63%;
	float:left;
}
.carousel-caption h2,h3{
	color: red;
}
.col-md-4 {
	height: 500px;
}
#signin img {
	width: 15em;
	height: auto;
	margin: 2em;
}
.icon {
	width: 4em;
	height: auto;
}
.list-unstyled{
	
	margin-left: 0%;
}
.col-md-12 h3{
	color: white;
	text-decoration: underline;
}
.col-md-12 h4{
	color: black;
}

.col-md-12{
	color: white;
	text-align: justify;
}

.col-md-12 a{
	color:rgb(27,2,1);
}
.col-md-12 i{
	font-size: 19px;
	color:black;
}
.col-md-12 li{
	list-style: none;
	font-size: 19px;
}
.col-md-12 p{
	font-size: 19px;
}
#marquee{
	color:yellow;

}
#monkey3{
	width: 3em;
	height: 3em;
}
.logos-row{
	border-radius: 50px;
	border: 1px solid black;
	margin:1%;
	width: 4em;
	height: 4em;
	transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}
.logos-row:hover{
	transform: rotateY(180deg);
}
.logos-row .side{
	backface-visibility: hidden;
  height: 4em;
  position: absolute;
  width: 4em;
}
.logos-row .back{

	transform: rotateY(180deg);

}

table {
	background-color: white;
	text-align: center;
	border-radius: .5em;
}
#log {
	background-color: white;
	border: 1px solid dodgerblue;
	border-radius: 1em;
	text-align: center;
}

#log li {
	padding: 1em;
	border-bottom: 1px solid lightgray;
}

#log li:last-child {
	border-bottom: none;
}

svg {
	background-color: floralwhite;
	border: 1px solid dodgerblue;
	margin: 0 auto;
}

.axis path, .axis line {
	fill: none;
	stroke: limegreen;
	shape-rendering: crispEdges;
}

.axis text {
	fill: limegreen;
	font-family: sans-serif;
	font-size: 8px;
}

circle:hover {
	fill: red;
}


/* user column styles
-------------------------------------*/
#userColumn {
	background-color: #003C52;
}

#userColumn img {
	width: 50%;
}

.btn-block {
	width: 90%;
	margin: 0 auto;
}

/* OPTIONS PAGE
--------------------------------------*/

#options img {
	width: 50%;
}

#options button {
	margin: 10px auto;
}

/* RECOVERY PAGE
--------------------------------------*/

#recoveryPage img {
	width: 50%;
}

#add-workout {
	width: 50%;
	color: black;
}


