/* COLOR PALLETTE
-----------------------------*/

/* 
	BLACK 		- #202126
	DARK GRAY	- #25252d
	LIGHT GRAY	- #333352
	PINK		- #c40147
	BLUE		- #2867d5
	AQUA		- #00ebd2
*/

@font-face {
	font-family: 'ProximaNova-Light';
	src: url('Proxima Nova/ProximaNova-Light.otf');
}

@font-face {
	font-family: 'ProximaNova';
	src: url('Proxima Nova/ProximaNova-Regular.otf');
}

body{
	background-image: linear-gradient(#202126, #333352);
	color: #00ebd2;
	font-family: 'ProximaNova-Light';
	padding-bottom: 5em;
}

.navbar {
	background-color: inherit;
	border: none;
	border-bottom: 2px solid rgba(4,4,4,.5);
}

#logo {
	width: 3em;
	height: auto;
	margin: .7em;
}

#fitness-challenge{
	padding: 1em;
	margin-bottom: 3em;
}

#navbar-btn li:first-child {
	margin-right: 1em;
}


/* Log workout styles
------------------------*/


#log-workout-btn {
	background-color: #2867d5;
}

#log-relapse-btn {
	background-color: #c40147;
}

.ads {
	text-align: center;
}

.ads img{
	margin: 1em;
}

/* DASHBOARD STYLES
-------------------------------------*/

svg {
	background-image: linear-gradient(#202126, #333352);
	border: 2px solid #00ebd2;
	border-radius: .5em;
}

#workout-line-chart svg {
	height: 250px;
}

.chart-couple svg {
	height: 275px;
}

text {
	stroke-width: 1;
	stroke: #00ebd2;
}

#workout-line-chart button {
	margin-right: .5em;
	outline: none;
	color: #00ebd2;
	background-color: #2867d5;
}

#workout-line-chart line {
	stroke: none;
}

#workout-bar-chart line {
	stroke: none;
}

.stats li {
	border-bottom: 1px solid #00ebd2;
	border-left: 1px solid #00ebd2;
	border-radius: .5em;
	padding: .5em;
}

.stats p, .row p {
	margin: .3em;
	font-size: 1.4em;
}

.stats li > p:last-child {
	font-size: 3em;
	text-align: center;
	color: #00ebd2;
	border-radius: 1em;
}

#relapse-div {
	width: 200px;
	height: 200px;
	background-image: linear-gradient(#202126, #333352);
	border: 5px solid #00ebd2;
	border-radius: 100px;
	margin: 0 auto;
}

#relapse-div p {
	font-size: 5em;
	color: limegreen;
	margin: 50px auto;
}

#fitness-challenge img {
	width: 100%;
	height: 100%;
}

.teal-border {
	border: 2px solid #00ebd2;
	border-radius: .5em;
}

#workout-modal, #relapse-modal {
	color: #25252d;
	font-size: 1.7em;
}


