/* COLOR PALLETTE
-----------------------------*/

/* 
	BLACK 		- #202126
	DARK GRAY	- #25252d
	LIGHT GRAY	- #333352
	PINK		- #c40147
	BLUE		- #2867d5
	AQUA		- #00ebd2
*/
/* 
	BLUE		- #1f77b4
 	ORANGE		- #ff7f0e
 	GREEN		- #2ca02c
 	RED			- #d62728
 	PURPLE		- #9467bd
 	BROWN		- #8c564b
 	PINK		- #e377c2
 	GRAY		- #7f7f7f
 	OLIVE		- #bcbd22
 	TEAL 		- #17becf
 */

@font-face {
	font-family: 'ProximaNova-Light';
	src: url('Proxima Nova/ProximaNova-Light.otf');
}

@font-face {
	font-family: 'ProximaNova';
	src: url('Proxima Nova/ProximaNova-Regular.otf');
}

body{
	/*background-image: linear-gradient(#202126, #333352, #2867d5);*/
	background-color: #ddd;
	font-family: 'ProximaNova-Light';
	padding-bottom: 5em;
	color: black;
}

.navbar {
	background-color: inherit;
	border: none;
	border-bottom: 2px solid rgba(4,4,4,.5);
}

#logo {
	width: 3em;
	height: auto;
	margin: .7em;
}

#logo-brand {
	font-weight: bold;
	font-size: 20px;
}

/* sidebar styles
--------------------------------------------------------*/

#sidebar {
	background-color: white;
	padding-top: 5px;
	font-size: 1.2em;
}

#sidebar span {
	font-weight: bold;
}

#profile-pic-div {
	margin-top: 5px;
}

/* greet user styles
-----------------------------------------------*/

#relapse-meter {
	font-size: 3em;
    font-weight: bold;
    position: absolute;
    bottom: 3px;
    right: 95px;
}

#my-canvas-element {
	width: 100%;
}

/* chart styles
--------------------------------*/
.panel {
	border-radius: 0;
}

#workout-line-chart,
#workout-donut-chart,
#workout-bar-chart,
#days-clean-div,
#last-workout-div,
#workout-days-div,
#fitness-challenge-div{
	padding: 5px;
	background-color: white;
}

.mid-row {
	margin-top: 20px;
}

.stats p {
	font-size: 3em;
	font-weight: bold;
}

#days-clean-div {
	background-color: #2867d5;
}

#last-workout-div {
	background-color: #00ebd2;
}

#workout-days-div {
	background-color: #2867d5;
}

#table-div {
	background-color: white;
}


/* Log workout styles
------------------------*/


#log-workout-btn {
	background-color: #2867d5;
	margin-right: 1em;
}

#log-relapse-btn {
	background-color: #c40147;
}


/* DASHBOARD STYLES
-------------------------------------*/

svg {
	/*background-color:  #202126;*/
	/*border: 1px solid #00ebd2;*/
	border-radius: .5em;
}

#workout-line-chart svg {
	height: 250px;
	padding: 0 1em;
}

.chart-couple {
	margin-top: 20px;
}

.chart-couple svg {
	height: 275px;
}

text {
	stroke-width: 1;
	/*stroke: #00ebd2;*/
}

#workout-line-chart button {
	margin-right: .5em;
	outline: none;
	color: white;
	font-size: 1em;
	background-color: #2867d5;
}

#workout-line-chart line {
	stroke: none;
}

#workout-bar-chart line {
	stroke: none;
}

/* form styles
------------------------------------*/

.radio-inline {
	margin: 0 10px;
}


/* Modal styles 
------------------------------------*/

#workout-modal, #relapse-modal {
	color: #25252d;
	font-size: 1.7em;
}