/* COLOR PALLETTE
-----------------------------*/
/* 
	BLACK 		- #202126
	DARK GRAY	- #25252d
	LIGHT GRAY	- #333352
	PINK		- #c40147
	BLUE		- #2867d5
	AQUA		- #00ebd2
*/

/* typography styles
---------------------------------------------*/
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('Proxima Nova/ProximaNova-Light.otf');
}

@font-face {
	font-family: 'ProximaNova';
	src: url('Proxima Nova/ProximaNova-Regular.otf');
}

body{
	background-color: #ddd;
	font-family: 'ProximaNova-Light';
	padding-bottom: 5em;
	color: black;
}

/* navbar styles
-----------------------------------------------------*/

.navbar {
	background-color: inherit;
	border: none;
}

#logo {
	width: 50px;
	height: auto;
	margin: .7em;
}

#logo-brand {
	font-weight: bold;
	font-size: 24px;
	color: #2867d5;
}

#logo-brand:hover {
	color: white;
}

/* sidebar styles
--------------------------------------------------------*/

.sidebar {
	background-color: #eee;
	font-size: 1.2em;
}

.sidebar > div {
	width: 95%;
	margin: 0 auto;
}

.sidebar img {
	width: 60%;
	margin: 10px;
}


.sidebar span {
	font-weight: bold;
}

.panel {
	border-radius: 0;
	background-color: #bbb;
}

.panel:hover,
#workout-line-chart:hover,
#workout-bar-chart:hover,
#workout-donut-chart:hover,
.stats > div > div:hover {
	box-shadow: 2px 2px 2px #aaa;
}

table {
	background-color: white;
}


/* greet user styles
-----------------------------------------------*/

#interface span {
	font-size: 1.2em;
	color: #2867d5;
}

/* gauge-styles
--------------------------------------------------*/
#my-canvas-element {
	width: 100%;
}

#relapse-meter {
	font-size: 3em;
    font-weight: bold;
    position: absolute;
    right: 37.5%;
    bottom: -5px;
}

/* chart styles
--------------------------------*/

#workout-line-chart,
#workout-donut-chart,
#workout-bar-chart,
#days-clean-div,
#last-workout-div,
#workout-days-div {
	padding: 5px;
	background-color: white;
}

.mid-row {
	margin-top: 20px;
}

.stats p {
	font-size: 3em;
	font-weight: bold;
}

#days-clean-div {
	background-color: #2867d5;
}

#last-workout-div {
	background-color: #00ebd2;
}

#workout-days-div {
	background-color: #2867d5;
}

#table-div {
	background-color: white;
}


/* Log workout styles
------------------------*/


#log-workout-btn {
	background-color: #2867d5;
	margin-right: 1em;
}

#log-relapse-btn {
	background-color: #c40147;
}


/* DASHBOARD STYLES
-------------------------------------*/



#workout-line-chart svg {
	height: 250px;
	padding: 0 1em;
}

#workout-line-chart h3 {
	margin-top: 15px;
}

.chart-couple {
	margin-top: 20px;
}

.chart-couple svg {
	height: 250px;
}

text {
	stroke-width: 1;
	/*stroke: #00ebd2;*/
}

#workout-line-chart button {
	margin-right: .5em;
	outline: none;
	color: white;
	font-size: 1em;
}

#workout-line-chart line {
	stroke: none;
}

#workout-bar-chart line {
	stroke: none;
}

/* form styles
------------------------------------*/

.radio-inline {
	margin: 0 10px;
}


/* Modal styles 
------------------------------------*/

#workout-modal, #relapse-modal {
	color: #25252d;
	font-size: 1.7em;
}