body{
	background-color: black;
	color: dodgerblue;
	font-family: sawasdee;
}

#logo {
	width: 3em;
	height: auto;
	margin-top: 5px;
	margin-right: 5px;
}


svg {
	background-color: floralwhite;
	border: 1px solid dodgerblue;
	margin: 0 auto;
}

.col {
	border: 1px solid gray;
}

#fitness-challenge{
	padding: 1em;
	margin-bottom: 3em;
}

#navbar-btn li:first-child {
	margin-right: 1em;
}

/* Log workout styles
------------------------*/

#add-workout {
	display: none;
}

#log-relapse {
	display: none;
}

.ads {
	text-align: center;
}

.ads img{
	margin: 1em;
}

/* DASHBOARD STYLES
-------------------------------------*/

svg {
	background-color: #222;
}

text {
	stroke-width: 1;
	stroke: limegreen;
}


#workout-donut-chart svg {
	height: 319px;
}

#workout-line-chart button {
	border-radius: 50%;
	margin: .5em;
	outline: none;
	color: darkslateblue;
}

#workout-line-chart line {
	stroke: none;
}

#workout-bar-chart line {
	stroke: none;
}

.stats li {
	background-color: #222;
	padding: .5em;
}

.stats p {
	font-size: 1.2em;
}

.stats li > p:last-child {
	font-size: 4em;
	text-align: center;
	padding: .5em;
	color: limegreen;
	border-radius: 1em;
}

#outer {
	width: 200px;
	height: 200px;
	background-color: darkslateblue;
	border: 5px solid dodgerblue;
	border-radius: 100px;
	margin: 0 auto;
}


#outer p {
	font-size: 5em;
	color: limegreen;
	margin: 50px auto;
}