body{
	background-color: #286090;
	color: floralwhite;
}

.page {
	display: none;
}

#logo {
	width: 3em;
	height: auto;
	margin-top: 5px;
	margin-right: 5px;
}

.jumbotron {
	width: 50em;
	height: 400px;
	margin: 0 auto;
	background-color: black;
	border: 1px solid dodgerblue;
}

.carousel-inner > .item > img {
	width: 100%;
	height: 300px;
}
#myCarousel{
	width: 63%;
	float:left;
}

.col-md-4 {
	height: 500px;
}
#signin img {
	width: 15em;
	height: auto;
	margin: 2em;
}
.icon {
	width: 4em;
	height: auto;
}

#chat{
	position: relative;
	left: 17em;
	top:-32em;
	width: 27em;
	height: 25em;
}
#healthy{
	color:white;
	margin-bottom: -3%;

}
#playbook{
	color: black;
}
#playbook h2{
	color: black;
	text-shadow: 2px 2px 2px gray;
}
#playbook{
	border-radius: 50px;
}
#playbook.row{
	background-color: white;
	padding: 1%;
	width: 52em;
	height: 29em;
	position:relative;
	bottom:-3em;
	border-radius: 1em;
	border: 2px solid black;
}
#playbook ul{
	margin-left: 9em;
}
#playbook li{

	border:1px solid black;
	display: inline-block;
	position: relative;
	right:3em;
}
#pullquote{
	color: red;
	text-shadow:2px 2px 2px gray;
}
#jog{
	margin-left: 9.4em;
}
#mind{
	margin-left: 3.3em;
}
#train{
	margin-left: 4em;
}
#train{
	margin-left: 
}
#treatment{

	margin-top: 16%;
}


#pic1{
	border:  2px solid black;
	border-radius: 60px;
}
#education p{
	color:black;
}
#education h2{
	color: black;
	text-shadow: 2px 2px 2px gray;
}
#education{
	padding: 1%;
	border-radius: 2%;
	border-radius: 1em;
	border: 2px solid black;
	position: relative;
  bottom: -1em;
  background-color: white;
  width:52em;
  height: 28em;
}
#education ul{
	margin-left: 5em;
}
#education li{
	border: 2px solid black;
	display: inline-block;
}
#contacts{
	color:white;
	margin-top: 10%;
}
.list-unstyled{
	
	margin-left: 0%;
}
#join{
		color:red;
}
.comlinks{
	  width: 3em;

}
#community {
	color:black;
}
#community h2{
		text-shadow: 2px 2px 2px gray;
}
#community{
	padding: 1%;
	border-radius: 1em;
	border: 2px solid black;
	background-color: white;
	margin-top: 4em;
	width:55em;
	height: 46em;
}
#community li{
	border: 2px solid black;
	display: inline-block;

}
#community.row{
	 position: relative;
   bottom: 2em;
}
#addict{
	color:red;
}
#stress{
	margin-left: 8em;
	
}
#help{
margin-left: 4em;

}
#reduce{
	margin-left: 4em;
	
}


table {
	background-color: white;
	text-align: center;
	border-radius: .5em;
}

#log {
	background-color: white;
	border: 1px solid dodgerblue;
	border-radius: 1em;
	text-align: center;
}

#log li {
	padding: 1em;
	border-bottom: 1px solid lightgray;
}

#log li:last-child {
	border-bottom: none;
}

svg {
	background-color: floralwhite;
	border: 1px solid dodgerblue;
	margin: 0 auto;
}

.axis path, .axis line {
	fill: none;
	stroke: limegreen;
	shape-rendering: crispEdges;
}

.axis text {
	fill: limegreen;
	font-family: sans-serif;
	font-size: 8px;
}

circle:hover {
	fill: red;
}


/* user column styles
-------------------------------------*/
#userColumn {
	background-color: #003C52;
}

#userColumn img {
	width: 50%;
}

.btn-block {
	width: 90%;
	margin: 0 auto;
}

/* OPTIONS PAGE
--------------------------------------*/

#options img {
	width: 50%;
}

#options button {
	margin: 10px auto;
}

/* RECOVERY PAGE
--------------------------------------*/

#recoveryPage img {
	width: 50%;
}

#add-workout {
	width: 50%;
	color: black;
}


